/* Import shared css */
@import url('./shared/root.css');
@import url('./shared/navbar.css');

/* Import fonts */
@import url('/fonts/good-times.rg-regular.otf');

/* Body */
body {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

/* Center */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header */
h1 {
    color: var(--color-primary);
    font-family: 'Good Times Rg', sans-serif;
    font-size: 100px;

    text-align: center;
}

/* Buttons */
.button-caraousel {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.button-caraousel .button {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
}

.button-caraousel .button:hover {
    transition: all .5s ease-in;
    background-color: var(--color-secondary);
}

.button-caraousel .button:not(:hover) {
    transition: all .5s ease-in;
    background-color: var(--color-primary);
}