/* Import shard css */
@import url('./shared/root.css');
@import url('./shared/navbar.css');

/* Import fonts */
@import url('/fonts/good-times.rg-regular.otf');

/* Body */
body {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

/* Center */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 25px;
    margin-top: 150px;
}

/* Projects */
.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 25px;
}

.project-list a {
    text-decoration: none;
    color: var(--color-text);
}

.project-card {
    background-color: #18181d;

    border-radius: 12px;

    padding: 25px;
}

.project-card h2 {
    color: var(--color-text);
    font-family: 'Good Times Rg', sans-serif;
    font-size: 50px;
    text-align: center;
}

.project-card p {
    color: var(--color-text);
    font-size: 25px;
    text-align: center;
}

/* Header */
h1 {
    color: var(--color-primary);
    font-family: 'Good Times Rg', sans-serif;
    font-size: 100px;

    text-align: center;
}