@import url('/fonts/good-times.rg-regular.otf');

:root {
    --color-primary: #39227d;
    --color-secondary: #32245C;
    --color-background: #28262F;
    --color-text: #F4EDE8;
}

body {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 25px;
    margin-top: 150px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 25px;
}

.project-list a {
    text-decoration: none;
    color: var(--color-text);
}

.project-card {
    background-color: #18181d;

    border-radius: 12px;

    padding: 25px;
}

.project-card h2 {
    color: var(--color-text);
    font-family: 'Good Times Rg', sans-serif;
    font-size: 50px;
    text-align: center;
}

.project-card p {
    color: var(--color-text);
    font-size: 25px;
    text-align: center;
}

h1 {
    color: var(--color-primary);
    font-family: 'Good Times Rg', sans-serif;
    font-size: 100px;

    text-align: center;
}

.navbar {
    background-color: var(--color-primary);
    
    height: 50px;
    width: 100%;

    padding: 25px;

    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 1;

    margin-bottom: 25px;
}

.navbar .button {
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-text);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}